<div class="sidebar">
  <ul>
    <%= link_to "Closet" %>
  </ul>
  <%= image_tag "sidebar.png", class: "sidebarbg" %>
</div>



<div class="mainshop">
  <div class="modelwrap">
   <table>
    <tr>
      <div><%= image_tag(@outfit.top.image, class: "top") %></div>
      <div><%= image_tag(@outfit.pant.image, class: "pant") %></div>
      <div><%= image_tag(@outfit.shoe.image, class: "shoe") %></div>
    </tr>
   </table>
  </div>
  <div class="buttonset">
  <%= button_to 'Next', outfit_path(@outfit.id), class: "splashlink1", method: :get %>
  <%= button_to 'Wear It', session_path, class: "splashlink2", method: :get %>
  </div>
<!-- <div class="modelwrap"><%= image_tag "model.png", class: "model" %></div> -->
</div>

