<p id="notice"><%= notice %></p>

<%= render 'login' %>
<%= link_to 'Create an Account' %>

<h1>DressCode</h1>


<br>

<%= link_to 'What to Wear', new_outfit_path %>
<%= link_to 'Closet', outfits %>

