<h1>New User</h1>

<!-- <%= render 'form' %> -->
<!-- <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
 -->
<%= @outfit.top.image %>
<%= @outfit.top.image %>
<%= @outfit.shoe.image %>
<%= link_to 'Next', new_user_outfit_path(@user) %> |
