  <div id="maincontainer">
    <%= image_tag "background.png", class: "background" %>
    <header>
      <div class="upperHeader">
        <div class="container">
          <ul class="pull-right inline">
            <li class="divider-vertical"></li>
          </ul>
        </div>
      </div>
    </header>
    <%= form_for  @user  do |f| %>
    <%= f.label :first_name, class: "create" %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit %>
    <% end %>
  </div>
