<p id="notice"><%= notice %></p>

<%= @outfit.top.image %>
<%= @outfit.top.image %>
<%= @outfit.shoe.image %>
<%= link_to 'Next', new_user_outfit_path(@user) %> |
<%= link_to 'Wear It', users_path %>
